<%- include("includes/header.ejs") %>

<body>
    <div class="failure">
        <div class="video"><h1>Moye Moye !!</h1><video src="asset/moye moye.mp4" autoplay loop></video></div>
        
        <div class="button"><a href="/" class="btn btn-primary">Back</a></div>
        <%- include("includes/footer.ejs") %> 
    </div>
   