<%- include("includes/header.ejs") %>

<body>
    <div class="failure">
        <video src="asset/moye more.mp4" autoplay loop></video>

    </div>
    <a href="/" class="btn btn-primary">Back</a>
</body>
</html>