<%- include("includes/header.ejs") %>

    <body>
        <div class="thala">
            <h1>Behind Everything , there is a reason</h1>
            <div class="upper-section">
                <form action="/submit" method="post">
                    <input type="text" placeholder="Enter Words" name="thala" id="thala" required>
                    <button class="submit-btn">Submit</button>



                </form>

                <div class="lower-section">
                    <div class="social-links">
                        <h3>Made By ❤️ Kr. Amit Singh</h3>
                        <a href="https://www.instagram.com/__kr.amitsingh__/"  target="_blank"><i class="fa-brands fa-instagram"></i></a>
                      <a href="https://www.youtube.com/kramitsingh" target="_blank"><i class="fa-brands fa-youtube"></i></a>
                      <a href="https://www.linkedin.com/in/kramitsingh/"  target="_blank"><i class="fa-brands fa-linkedin"></i></a>
                    </div>
                </div>

            </div>