<%- include("includes/header.ejs") %>
<body>
    <div class="thala">
        Thala For a reason
        <div class="upper-section">
            <div class="form">
                <form action="/submit" method="post">
                    <input type="text" placeholder="Enter Words" name="thala" id="thala" class="form-control">
                    <button class="btn btn-success">Submit</button>
                    


                </form>
            </div>
        </div>
        <div class="footer-section"></div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
</body>
</html>