<%- include("includes/header.ejs") %>
<body>
    <div class="success">
        <video src="asset/bole jo koyal.mp4" autoplay loop></video>
    </div>
    <a href="/" class="btn btn-primary">Back</a>
</body>
</html>