@import url('https://fonts.googleapis.com/css2?family=Lemon&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
body{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.thala{
    display: flex;
    justify-content: center;
    align-items: center;
}
.upper-section{
    width: 70%;
}
.success,.failure{
    width: 100%;
    height:100vh;
}